---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import BlogTableRow from '../../components/BlogTableRow.astro';
import '../../styles/sortable.css';
import '../../styles/tables.css';


let allPosts = await Astro.glob('../../content/blog/*.md*');
allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---

<!DOCTYPE html>
<html lang="en">
    <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"></script>
	<head>
		<BaseHead title={SITE_TITLE} description=""/>
	</head>
    <Header title={SITE_TITLE} />
    
    <table class="sortable">
        <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
         </tr>
        </thead>
        <tbody>
			{allPosts.map((post, index) => {
				const href = `/blog/${post.file.split('/').pop().split('.').shift().toLowerCase()}/`;
                return (
				<BlogTableRow title={post.frontmatter.title} link={href} date={post.frontmatter.pubDate} />
				)
			})}
        </tbody>
    </table>
    <Footer />
</html>
