---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import Cyrus from '../images/Cyrus.jpg';
import Daisy from '../images/Daisy.jpg';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
import FAQEntry from '../components/FAQEntry.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
		<script src="../scripts/faqs.js"></script>
	</head>
	<body>
		<Header title={SITE_TITLE} />
			<main>
				<p>My wife and I are lucky enough to be hound parents to these two, <strong>Daisy</strong> (bottom) and <strong>Cyrus</strong> (top). 
				This domain name was chosen before we got our wonderful hounds, and Daisy would most certainly not approve. 
				Despite our best efforts I don't think she will ever consider cats to be her friends.</p>
				<p align="center">
					<style>
						img {
						width: 40%; /* image initial width */
						height: 40%;
						}
						div {
						border: none;
						}
						.container {
						width: 500px; /* container initial width */
						}
					</style>
					<Image src={Cyrus} alt="Headshot of Cyrus, the Greyhound.">
				</p>
				<p align="center">
					<Image src={Daisy} alt="Headshot of Daisy, the Greyhound.">
				</p>
			
				<h1 class="faq-heading">FAQ'S</h1>
				<section class="faq-container">
					<FAQEntry question="Where do you get Daisy and Cyrus from ?" answer="Daisy was born in Ireland, and raced in the north of England around Sunderland. She was retired from racing after an injury and taken in by Celia and Jim at <a href='http://www.greyhoundrescuefife.com/'>Greyhound Rescue Fife</a>. Cyrus realised that being rubbish at racing was the fastest path to the sofa and this turned out to be true. He was fostered by us from the <a href='https://www.scottishgreyhoundsanctuary.org/'>Scottish Greyhound Sanctuary</a>, but we very quickly fell in love with him and he found his sofa."/> 
					<FAQEntry question="Do greyhounds need lots of exercise ?" answer="As with anything, this varies from dog to dog. Most greyhounds just love a good sofa though and a couple of short 20 minute walks per day will be all they really need. That said, our two do love a nice long walk when they can, and Daisy has even bagged a munro when she climbed Ben Lomond with us."/>
					<FAQEntry question="What do your hounds eat ?" answer="Hound diets can be quite varied, but ours mostly eat raw. We discovered it was good for Daisy early on in having her, and certainly helped turn her rear end into less of a chemical weapons facility. That said, different foods work for different dogs and we wouldn't suggest raw feeding for everyone or every dog."/>
					<FAQEntry question="How fast can your dogs run ?" answer="I've measured them by timing them past two posts with a stopwatch, and they can both run at around 40 mph / 65 kph."/>
					<FAQEntry question="How old are your dogs ?" answer="Daisy was born in May 2018 and Cyrus 11 months later in June 2019. All racing greyhounds from the UK and Ireland have ear tatoos that include the year and month they were born."/>
				</section>
			</main>
		<Footer />
</html>
