---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import HeadShot from '../images/DavidGroves.jpg';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 align="center">{SITE_TITLE}</h1>
			<p align="center">
				The personal homepage of David Groves.
			</p>
			<p align="center">
				See header bar for sections.
			</p>
			<p align="center">
				<style>
					img {
					  width: 40%; /* image initial width */
					  height: 40%;
					}
					div {
					  border: 2px dotted #000000;
					}
					.container {
					  width: 500px; /* container initial width */
					}
				  </style>
				<Image src={HeadShot} alt="Headshot of David Groves">
			</p>
		</main>
		<Footer />
	</body>
</html>
